<div class="row">
	<div class="left">{{emoji}}</div>
	<input
		type="{{#if type}}{{type}}{{else}}text{{/if}}"
		name="{{name}}"
		value="{{value}}"
		class="right"
		placeholder="{{name}}"
		list="{{name}}-suggestions"
	/>
	<datalist id="{{name}}-suggestions">
		{{#each values}}
			<option value="{{value}}">{{label}}</option>
		{{/each}}
	</datalist>
</div>
