{{> pageHeader title="Games" url="/" }}

{{#xif pagination.page '==' 0}}
<div class="panel margin">

<div class="header link-bar">
	<h2 class="title flex">
		{{#if showPerfect}}
		perfected games (100% completion)
		{{else}}
		top {{popular.length}} played games ({{days}})
		{{/if}}
	</h2>
	<div class="links">
		<a href="/games?days=60">60 days</a>
		<a href="/games?days=365">365 days</a>
		<a href="/games?days=alltime">all time</a>
		<a href="/games?perfect"><span class="desktop">⭐ </span>perfect</a>
	</div>
</div>

<div class="content">
	{{#if showPerfect}}
	<p>
		<small>
			<strong>Note:</strong>
			Games are sorted by most recently perfected first!
		</small>
	</p>
	{{/if}}

	{{#if popular}}
	<table class="games-popular">
		{{#each popular as |game| }}
		<tr class="games-popular--game">
			<td class="games-popular--title">
				<a href="/game/{{game.id}}">{{game.name}}</a>
			</td>
			<td class="games-popular--meta">
				<div
					class="artist-count games-popular--bar"
					style="width: {{game.popularityPercentage}}%"
				>
					{{game.playtime_hours}} <small>hrs</small>
				</div>
				<div class="games-popular--stats">
					<span>last played <a href="/game-session/{{game.session_id}}">
					<strong>{{game.timeago}}</strong></a></span>

					{{#if game.achievement_percentage}}
					<span>
						<span class="games-popular--pielabel{{#if game.perfected}} rainbow-text" style="animation-delay: -{{game.id}}0ms{{/if}}">
							{{game.achievement_percentage}}%
							completion{{#if game.perfected}}!{{/if}}
						</span>
						{{>svgProgress perfected=game.perfected percentage=game.achievement_percentage }}
					</span>
					{{/if}}
				</div>
			</td>
		</tr>
		{{/each}}
	</table>
	{{else}}
	<div class="error rounded-panel">
		<p class="lead">I haven't played any games within the {{days}}! 😭</p>
	</div>
	{{/if}}
	</div>
</div>
{{/xif}}

<div class="panel margin">
	{{> panelHeader title="recently played games"}}

	<div class="content">
		{{#each sessions as |session|}}
			{{> gameActivity data=session }}
		{{/each}}
	</div>
</div>

{{> pagination pagination=pagination route="/games" }}
